# dependencies
node_modules

# build output
.svelte-kit
build
dist

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# IDE/editor
.vscode/*
!.vscode/extensions.json
.idea

# package manager cache
.pnpm-store